@charset "utf-8";
/* CSS Document */
body {
	height: 100%;
	background-image:url(../images/bg.png);
	background-repeat:repeat;
}
a:link, a:visited, a:active, a:hover {
	text-decoration: none;
}

a:link {
	color: #00F;
}
a:visited {
	color: #00F;
}
a:hover {
	color: #F00;
}
a:active {
	color: #900;
}
table {
	border: 2px solid black;
	padding: 4px;
	margin: auto;
}

td {
	border: 2px #009 solid;
	text-align: center;
	background-color: #6F0;
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif; 
}
ol,ul {
	list-style:none;
}
